# dependencies
node_modules/

# next.js
.next/
out/
build/
dist/

# env files
.env
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts

# misc
.DS_Store
*.pem
*.log
npm-debug.log*

# editors
.vscode/
.idea/

# expo / react native (for apps/mobile later)
.expo/
